{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}
    <h1>Все статьи</h1>
    <h3>Сейчас статей: {{ articles|length }}</h3>
    <hr>
    {% if articles %}
        <table>
            <tr>
                <td>
                   Заголовок
                </td>
                <td>
                    Дата:
                </td>
                <td>
                    Превью.
                </td>
            </tr>
            {% for article in articles %}
            <tr>
                <td>
                    {{ article.title|censor }}
                </td>
                <td>{{ article.dateCreation|date:'d M Y' }}</td>
                <td>{{ article.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif%}


    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 2 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% elif num >= page_obj.number|add:-1 and num <= page_obj.number|add:1 %}
            <a href="?{% url_replace page=num %}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages|add:-1 %}
            ...
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% endif %}
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}

{% endblock content %}