{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load custom_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h3>Сейчас новостей: {{ news|length }}</h3>
    <hr>
    {% if perms.My_News_Portal.add_post %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}
    {% if news%}
        <table>
            <tr>
                <td>
                   Заголовок
                </td>
                <td>
                    Дата:
                </td>
                <td>
                    Превью.
                </td>
                {% if perms.My_News_Portal.change_news or perms.My_News_Portal.delete_news %}
                <td>
                    Действия
                </td>
                {% endif %}
            </tr>
            {% for idnews in news %}
            <tr>
                <td>
                    {{ idnews.title|censor }}
                </td>
                <td>{{ idnews.dateCreation|date:'d M Y' }}</td>
                <td>{{ idnews.text|truncatewords:20|censor }}</td>
                <td>
                    {% if perms.My_News_Portal.change_news %}
                    <a href="{% url 'news_update' idnews.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.My_News_Portal.delete_news %}
                    <a href="{% url 'news_delete' idnews.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif%}

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 2 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <strong>{{ num }}</strong>
        {% elif num >= page_obj.number|add:-1 and num <= page_obj.number|add:1 %}
            <a href="?{% url_replace page=num %}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        {% if page_obj.next_page_number != page_obj.paginator.num_pages|add:-1 %}
            ...
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% endif %}
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
    {% endif %}


{% endblock content %}

